<!-- Jumbotron -->
  <div class="jumbotron">
	<h1>Hijab Central</h1>
	<p class="lead">A collection of real-time posts from hijab blogs all over the world!</p>
	
  </div>

  <!-- Example row of columns -->
  <div class="row">
	<div class="col-lg-4">
	  <h2>Admin Sign in</h2>
	  <p>Log in as an Administrator</p>
	  <p><a class="btn btn-primary" href="auth/signin" role="button">Log In &raquo;</a></p>
	</div>
	<div class="col-lg-4">
	  <h2>Global Feed</h2>
	  <p>See the latest updates now.</p>
	  <p><a class="btn btn-primary" href="index" role="button">View &raquo;</a></p>
   </div>
   
  </div>