 
<p>
<!--<h3 class="text-muted">HC Central</h3>-->
 
<ul class="nav nav-justified">
  <li ><a href="/admin">Blogs</a></li>
  <li><a href="/manageRegion">Manage Regions</a></li>
  <li><a href="/manageBlogposts">Manage Blog Posts</a></li>
  <li><a href="/adminCrawler">Search for Sites</a></li>
</ul>
 