<!-- Jumbotron -->
  <div class="jumbotron">
	<h1>Hijab Central FAQ</h1>
	<p class="lead">A feed of posts from hijab blogs all over the world!</p>
	<p>This website automatically gathers blog posts related to Hijab from bloggers.</p>
	<p>We gather content from RSS feeds from Hijab Bloggers and aggregate the content into one global news feed.
	
  </div>
	<div class="panel panel-default">
		<div class="panel-heading">How do I get my blog up added to Hijab Central?</div>
		<div class="panel-body">
			If you are a fashion blogger related to Muslim culture, email us at my_pink_han@yahoo.com!
			<p>We will review your content and Insha'Allah your blog content that appears in your RSS feed will be shown to Hijab Central's global feed.
			<p>Be sure to send us the link to your blog's RSS. Here is more information on <a href="https://support.google.com/blogger/answer/97933?hl=en">Blogger's RSS.</a>
			<p>If you have your blog on Tumblr, you have an RSS too <a href="http://smallbusiness.chron.com/rss-feed-url-tumblr-blog-51203.html">here.</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">What is RSS?</div>
		<div class="panel-body">
			RSS is the abreviation from "Really Simple Syndication".

			<p>According to dictionary.com, the definition of syndication is:

			<p>"8. to publish simultaneously, or supply for simultaneous publication, in a number of newspapers or other periodicals in different places: Her column is syndicated in 120 papers."
			
			<p>Web content developers put excerpts or whole articles into their blog, which is then spread through the internet through RSS. RSS provides a broader potential audience for the content.
 		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">What is Hijab Central?</div>
		<div class="panel-body">
			Our website is basically an RSS aggregator. Our site automatically grabs these RSS feeds from Hijab/Fashion bloggers and displays the blog content based on RSS into our website's global feed. 
			<p>We always source these content properly. The source of each blog post is in the footer of every entry in the global feed. 
			
			<p>If you see your content on our website and you want it removed, email us immediately, and we will remove it as soon as possible. 
			<p>If you are a blogger and you want your blog to be aggregated and shown to the audience in Hijab Central send us the link to your blog's RSS!
		</div>
	</div>
	
	
	
	
	
	