<head><img src = "images/HijabCentralLogo.png"></head>
<p>
<!--<h3 class="text-muted">HC Central</h3>-->
<h4 class="text-muted">Hijab Central, All Hijab Blogs Posts in One Feed</h3>
<ul class="nav nav-justified">
  <li ><a href="index">Latest</a></li>
  <li ><a href="/popular">Popular</a></li>
  <li> <a href="/directory">Directory</a></li>
  <li><a href="/faq">FAQ</a></li>   
  <li><a href="aboutus">About us</a></li>
</ul>
 