
<h3 class="text-muted">HC Central</h3>
<h4 class="text-muted">All Hijab Blogs put in one feed</h3>
<ul class="nav nav-justified">
  <li class="active"><a href="index">Blogs</a></li>
  <li><a href="/directory">Directory</a></li>
  <li><a href="/faq">FAQ</a></li>   
  <li><a href="aboutus">About us</a></li>
</ul>
 